* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  min-width: 0;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  font-size: 100%;
  list-style: none;
  color: white;

  box-sizing: border-box;
  border: 0;

  cursor: default;
}

.row-highlight {
  background-color: #3c467b;
}



/* ----------------------- CURRENT LOCATION SECTION ----------------------- */
#current-location-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;

  position: relative;

  /* height: 80px; */
  height: 20px;

  background-color: black;
  border-bottom: 1px solid black;
}

#location-name-container {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  background-color: #323d74;
}

#location-date-container {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  background-color: #323d74;
}



/* ------------------------ DAILY WEATHER SECTION ------------------------ */
#daily-weather-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;

  position: relative;

  height: auto;

  background-color: black;
}

#current-weather-container {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  text-align: center;

  background-color: #323d74;
  border-bottom: 1px solid black;
}

/* #current-weather-inner-tile {
  border: 1px dashed yellow;
} */

#current-weather-icon-container {
  position: relative;
  left: 0;
  right: 0;

  width: 80px;
  height: 80px;
  margin: auto;

  background-color: #adb1c7;
  border-radius: 10px;
}

.current-weather-icon {
  width: 80px;
  height: 80px;
}

#hourly-weather-container {
  grid-column: span 1;

  height: 100%;

  background-color: #323d74;
}

.hourly-weather-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  height: 50px;

  border-bottom: 1px solid black;
}

.hourly-weather-tile {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hourly-icon {
  width: 40px;
  height: 40px;

  background-color: #adb1c7;
  border-radius: 10px;
}


/* ------------------------- HOURLY CHART SECTION ------------------------- */
#chart-container {
  width: 100%;
  height: 250px;
}



/* ---------------------- UPCOMING FORECAST SECTION ---------------------- */
#upcoming-forecast-section {
  position: relative;

  width: 100%;
  height: auto;

  background-color: #323d74;
}

#upcoming-forecast-header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  /* height: 80px; */
  height: 20px;

  border-bottom: 1px solid black;
}

.upcoming-weather-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  height: 50px;

  border-bottom: 1px solid black;
}

.upcoming-weather-tile {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcoming-weather-temp-tile {
  grid-column: span 1;

  text-align: center;
}

.upcoming-weather-temp-tile > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 50%;
}

.upcoming-weather-temp-tile > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 50%;

  opacity: 0.6;
}
