* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  min-width: 0;
  margin: 0;
  padding: 0;

  font-size: 100%;
  list-style: none;

  box-sizing: border-box;
  border: 0;

  cursor: default;
}



/* ----------------------- CURRENT LOCATION SECTION ----------------------- */
#current-location-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;

  position: relative;

  height: 50px;

  background-color: black;
  border-bottom: 1px solid black;
}

#location-name-container {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  background-color: white;
}

#location-date-container {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  background-color: white;
}



/* ------------------------ DAILY WEATHER SECTION ------------------------ */
#daily-weather-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;

  position: relative;

  height: auto;

  background-color: black;
}

#current-weather-container {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  text-align: center;

  background-color: white;
  border-bottom: 1px solid black;
}

/* #current-weather-inner-tile {
  border: 1px dashed yellow;
} */

#current-weather-icon {
  position: relative;
  left: 0;
  right: 0;

  width: 50px;
  height: 50px;
  margin: auto;

  border: 1px dashed black;
}

#hourly-weather-container {
  grid-column: span 1;

  height: 100%;

  background-color: white;
}

.hourly-weather-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  height: 40px;

  border-bottom: 1px solid black;
}

.hourly-weather-tile {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hourly-icon {
  width: auto;
  height: 40px;
}
